{% extends 'Predictor/Predictor.html' %}
{% block content %}

<table>
<tr>
<td><a href="multiMap"><div class="bigFriendlyButton">All Solutions</div></a></td>
<td><a href="list"><div class="bigFriendlyButton">Solution Detail</div></a></td>
<td><a href="addLaunchPoint"><div class="bigFriendlyButton">Add a Launch Point</div></a></td>
<td><a href="listPreds"><div class="bigFriendlyButton">Weather Data</div></a></td>
<td><a href="listLaunchPoints"><div class="bigFriendlyButton">Launch Points</div></a></td>
<td><a href="dataExitMap"><div class="bigFriendlyButton">Data Exits</div></a></td>
</tr>
</table>

{% endblock %}
