{% extends 'Predictor/Predictor.html' %}
{% block title %}Predictions{% endblock %}
{% block content %}
<table class="predictionTable">
<tr><th>ID</th><th>Launch Time (UTC)</th><th>Weather Pred</th><th>Launch Site</th>
<th>Ascent Rate</th><th>Descent Rate</th><th>Burst Altitude</th><th>Burst Elapsed Time</th><th>Landing Time (UTC)</th>
<th>Landing Latitude</th><th>Landing Longitude</th><th>Landing Elapsed Time</th>
</tr>
{% for pred in prediction_list %}
<tr>
<td><a href="map/{{pred.id}}">{{pred.id}}</a></td><td>{{pred.launchTime}}</td><td>{{pred.usingPrediction}}</td><td>{{pred.launchPoint.name}}</td>
<td>{{pred.parameters.ascentRate}}</td><td>{{pred.parameters.descentRate}}</td><td>{{pred.parameters.burstAltitude}}</td><td>{{pred.burstElapsed}}</td><td>{{pred.landingTime}}</td>
<td>{{pred.landingLatitude}}</td><td>{{pred.landingLongitude}}</td><td>{{pred.landingElapsed}}</td>
</tr>
{% endfor %}
<table>
{% endblock %}
