{% extends "Predictor/Predictor.html" %}
{% block title %}Prediction Map{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/Predictor/map.css" /> 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>
{% endblock %}
{% block content %}

<div id="mapid" style="height: 600px;"></div>
<div id="mapinfo">
<span id="crsPos">
<table>
<th colspan=2>Cursor Position</th>
<tr><td id="crsLat" style="width: 4em;"></td><td id="crsLon" style="width:4em;"></td></tr>
</table>
</span>
<span>
<table>
<th>Launch Location</th>
<tr><td>
<select id="launchPointSelector" onchange="applyFilters()">
{% for launchpoint in launchpoints %}
<option value={{launchpoint.id}}>{{launchpoint.name}}</option>
{% endfor %}
</select>
</td></tr>
</table>
</span>
</div>

<script>
var streets = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoiY2FybG9zZ2oiLCJhIjoiY2o2Zmo5MnRzMGgyMDJ4bXBwaWFwaDlmciJ9.EM6dygBlE6MoxIEHsvy6ag'
});

var satellite = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.satellite',
    accessToken: 'pk.eyJ1IjoiY2FybG9zZ2oiLCJhIjoiY2o2Zmo5MnRzMGgyMDJ4bXBwaWFwaDlmciJ9.EM6dygBlE6MoxIEHsvy6ag'
});

var streetsSatellite = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets-satellite',
    accessToken: 'pk.eyJ1IjoiY2FybG9zZ2oiLCJhIjoiY2o2Zmo5MnRzMGgyMDJ4bXBwaWFwaDlmciJ9.EM6dygBlE6MoxIEHsvy6ag'
});

var topo = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.outdoors',
    accessToken: 'pk.eyJ1IjoiY2FybG9zZ2oiLCJhIjoiY2o2Zmo5MnRzMGgyMDJ4bXBwaWFwaDlmciJ9.EM6dygBlE6MoxIEHsvy6ag'
});

var sectional = L.tileLayer('https://d1pc149g092dlb.cloudfront.net/Maps/Tiles/Sectional/Z{z}/{y}/{x}.png',{
    maxZoom:11,
});

var landingMarkers = L.layerGroup();
var landingPoints = [];
{% for pred in preds %}
var marker = L.circleMarker([{{pred.landingLatitude}}, {{pred.landingLongitude}}], {radius:5, color:"#ff0000", id:{{pred.id}}, launchpoint:{{pred.launchPoint.id}}, });
marker.bindPopup("ID: {{pred.id}}<br/>Launch: {{pred.launchTime}} UTC from {{pred.launchPoint.name}}<br/>Landing: {{pred.landingTime}} UTC");
marker.on('mouseover', function (e) {this.openPopup();});
marker.on('mouseout', function (e) {this.closePopup();});
marker.on('click', function(e) {window.location.href="map/{{pred.id}}";});
landingPoints.push(marker);
{% endfor %}

var burstMarkers = L.layerGroup();
var burstPoints = [];
{% for pred in preds %}
var marker = L.circleMarker([{{pred.burstLatitude}}, {{pred.burstLongitude}}], {radius:5, color:"#00ff00", id:{{pred.id}}, launchpoint:{{pred.launchPoint.id}}, });
marker.bindPopup("ID: {{pred.id}}<br/>Burst: {{pred.burstTime}} UTC");
marker.on('mouseover', function (e) {this.openPopup();});
marker.on('mouseout', function (e) {this.closePopup();});
marker.on('click', function(e) {window.location.href="map/{{pred.id}}";});
burstPoints.push(marker);
{% endfor %}

var elevationDataBoundaries = L.layerGroup();
{% for square in elevData %}
L.polygon([[{{square.lat}}+0.5, {{square.lon}}-0.5],[{{square.lat}}+0.5, {{square.lon}}+0.5],[{{square.lat}}-0.5, {{square.lon}}+0.5],[{{square.lat}}-0.5, {{square.lon}}-0.5]], {color:"blue"}).addTo(elevationDataBoundaries);
{% endfor %}

var overlays = {"Landings":landingMarkers, "Burst":burstMarkers, "Elevation Data":elevationDataBoundaries,};
var baselayers = {
    "Streets":streets,
    "Satellite":satellite,
    "Streets + Satellite":streetsSatellite,
    "Topo": topo,
    "Airspace": sectional,
}

{% if preds %}
var mymap = L.map('mapid', {center:[{{preds.0.launchPoint.latitude}}, {{preds.0.launchPoint.longitude}}], zoom:10, layers:[streets, landingMarkers]});
{% else %}
var mymap = L.map('mapid', {center:[34.237, -118.254], zoom:10, layers:[streets, landingMarkers]});
{% endif %}


L.control.layers(baselayers, overlays).addTo(mymap);

function applyFilters(e){
    landingMarkers.clearLayers();
    for(i=0; i < landingPoints.length; i++){
        if(landingPoints[i].options.launchpoint == document.getElementById("launchPointSelector").value){
            landingPoints[i].addTo(landingMarkers);
        }
    }

    burstMarkers.clearLayers();
    for(i=0; i < burstPoints.length; i++){
        if(burstPoints[i].options.launchpoint == document.getElementById("launchPointSelector").value){
            burstPoints[i].addTo(burstMarkers);
        }
    }
}

applyFilters();

function onMapClick(e) {
    latStr = Math.round(e.latlng.lat *1000)/1000
    lonStr = Math.round(e.latlng.lng *1000)/1000
    document.getElementById('crsLat').innerHTML=latStr;
    document.getElementById('crsLon').innerHTML=lonStr;
}

mymap.on('mousemove', onMapClick);
</script>

{% endblock %}
