{% extends "Predictor/Predictor.html" %}
{% block title %}Prediction Map{% endblock %}
{% block extrahead %}
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 90%;
        margin: 0;
        padding: 0;
      }
    </style>
{% endblock %}
{% block content %}
    <div id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 9,
          center: {lat: {{preds.0.launchPoint.latitude}}, lng: {{preds.0.launchPoint.longitude}}},
          mapTypeId: 'terrain'
        });
        
        {% for pred in preds %}
        var land{{pred.id}}Pos = {lat:{{pred.landingLatitude}}, lng:{{pred.landingLongitude}}};

        var land{{pred.id}}Marker = new google.maps.Marker({
            position:land{{pred.id}}Pos,
            map: map,
            title: 'Launch:{{pred.launchTime}} UTC \n Landing: {{pred.landingTime}} UTC',
            label: '',
        });
        google.maps.event.addListener(land{{pred.id}}Marker, 'click', function() {
            window.location.href = './map/{{pred.id}}';
        });
        {% endfor %}
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmbPrpVMnpqXwqj3Df-xBhaVqNDl8Zojc&callback=initMap">
    </script>
{% endblock %}
